.body-section4 {
  height: 10vh;
  background: url("../../assets/images/ProductBackground_final.jpg");
  background-size: 50%;
  background-attachment: fixed;
  top: 0px;
  filter: grayscale(80%);
  padding: 10%;
  background-color: #1d1d1b;
  transition: all 1s;
}
.center-text-card {
  position: relative;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 675px;
  height: 57px;

  font-family: "Inter";
  font-style: normal;
  font-weight: bolder;
  font-size: 47px;
  line-height: 57px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.body-section4:hover {
  filter: grayscale(0%);
}

@media only screen and (max-width: 767px) {
  /* For mobile phones: */

  [class*="center-text-card"] {
    font-size: 10px;
    width: 200px;
  }
}
