.engineered-page {
  background-color: #1d1d1b;
  height: 150vh;
  max-width: 100vw;
  padding: 4%;
}

.main-text-engineered {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 6.2vw;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: -150%;
  color: #ffffff;
  transform: rotate(-90deg);
  padding-bottom: 30px;
  width: 150vh;
}
.heading-engineered-1 {
  position: relative;
  top: 10%;
  left: 50%;
  text-align: left;
  transform: translate(-50%, -50%);
  color: rgb(201, 160, 48);
  font-family: "Inter";
  font-style: normal;
  font-weight: bolder;
  font-size: 75px;
  line-height: 91px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: font-size 1s;
}
.category-natural-1 {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.heading-engineered-2 {
  position: relative;
  top: 57%;
  left: 50%;
  text-align: left;
  transform: translate(-50%, -50%);
  color: rgb(201, 160, 48);
  font-family: "Inter";
  font-style: normal;
  font-weight: bolder;
  font-size: 75px;
  line-height: 91px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: font-size 1s;
}

.image {
  height: 100%;
  width: 100%;
  padding-top: 40px;
}
